* {
  box-sizing: border-box;
}

body{
margin: 0;
background-color: black;
width: 100%;
overflow: hidden;
}

.container {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: start;
}

.secondContainer {
  width: 100%;
}